<!DOCTYPE html>
<html>
<head>
    <title>Criar Vaga</title>
</head>
<body>
    <h1>Criar Vaga</h1>
    
<form action="/vagas" method="POST">
  <input type="text" name="title" placeholder="Título">
  <input type="text" name="description" placeholder="Descrição">
  <input type="text" name="localizacao" placeholder="Localização">
  <button type="submit">Enviar</button>
</form>

</body>
</html>
